[Desktop Entry]
Name=Jprofiler
Comment=Jprofiler
Exec={{ jprofiler_directory }}/bin/jprofiler
Icon={{ jprofiler_icon }}
Terminal=false
Type=Application
Categories=Development;Java;
