[Desktop Entry]
Name=Oracle SQL Developer
Comment=Oracle SQL Developer
Exec={{ ferrarimarco_oracle_sql_dev_exe_path }}
Icon={{ ferrarimarco_oracle_sql_dev_icon_path }}
Type=Application
StartupNotify=true
Categories=Development;Utility;
MimeType=text/plain
